In [27]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing
import statistics

In [3]:
df=pd.read_csv("Iris.csv")

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [9]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
df.shape

(150, 6)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [19]:
#using groupby function to group data
data = df.groupby(["Species"])
data.groups.keys()  #checking how many groups are formed

dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])

In [20]:
df.groupby(["Species"])["SepalWidthCm"].std()

Species
Iris-setosa        0.381024
Iris-versicolor    0.313798
Iris-virginica     0.322497
Name: SepalWidthCm, dtype: float64

In [21]:
df.groupby(["Species"])["SepalWidthCm"].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [22]:
df.groupby(["Species"])["SepalWidthCm"].median()

Species
Iris-setosa        3.4
Iris-versicolor    2.8
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [23]:
df.groupby(["Species"])["SepalWidthCm"].min()

Species
Iris-setosa        2.3
Iris-versicolor    2.0
Iris-virginica     2.2
Name: SepalWidthCm, dtype: float64

In [24]:
df.groupby(["Species"])["SepalWidthCm"].max()

Species
Iris-setosa        4.4
Iris-versicolor    3.4
Iris-virginica     3.8
Name: SepalWidthCm, dtype: float64

In [25]:
df.groupby(["Species"])["SepalWidthCm"].var()

Species
Iris-setosa        0.145180
Iris-versicolor    0.098469
Iris-virginica     0.104004
Name: SepalWidthCm, dtype: float64

In [31]:

df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
Iris-setosa        3.4
Iris-versicolor    3.0
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [32]:
data = df.groupby(["Species"])
data.agg([np.std, np.mean, np.var])

                       Id               SepalLengthCm                   \
                      std   mean    var           std   mean       var
Species
Iris-setosa      14.57738   25.5  212.5      0.352490  5.006  0.124249
Iris-versicolor  14.57738   75.5  212.5      0.516171  5.936  0.266433
Iris-virginica   14.57738  125.5  212.5      0.635880  6.588  0.404343

                SepalWidthCm                  PetalLengthCm                   \
                         std   mean       var           std   mean       var
Species
Iris-setosa         0.381024  3.418  0.145180      0.173511  1.464  0.030106
Iris-versicolor     0.313798  2.770  0.098469      0.469911  4.260  0.220816
Iris-virginica      0.322497  2.974  0.104004      0.551895  5.552  0.304588

                PetalWidthCm
                         std   mean       var
Species
Iris-setosa         0.107210  0.244  0.011494
Iris-versicolor     0.197753  1.326  0.039106
Iris-virginica      0.274650  2.026  0.075433